<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página principal</title>

</head>
<body>

    <h2>Links para páginas</h2>

    <a th:href="@{/empresaCTR/viewCadEmpresa}">Cadastrar Empresa</a>
    <br>
    <a th:href="@{/funcionarioCTR/formFuncionario}">Cadastrar Funcionario</a>
    <br>
    <a th:href="@{/empresaCTR/listarTodasEmpresas}">Listar todas empresas / Alterar</a>
    <br>
    <a th:href="@{/funcionarioCTR/listarFunc}">Listar todos os funcionarios / Alterar</a>
    <br>
    <a th:href="@{/empresaCTR/formBuscarNome}">Listar empresa por nome</a>
    <br>

   
</body>
</html>

